/* Container for the entire overview */
.overview {
  width: 80%;
  display: flex;
  align-items: left;
  flex-direction: column;
  padding: 1rem;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  color: #333;
}

/* Section title styling */
.overview .title h2 {
  font-size: 28px;
  color: #0057b8;
  margin-bottom: 15px;
  text-transform: uppercase;
}

/* Shared styles for each section with rounded borders and background */
.summary,
.technologies,
.education {
  background-color: white; /* Slightly darker background */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Inner padding for spacing */
  margin-bottom: 30px; /* Spacing between sections */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}

/* Summary section */
.summary p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* Technologies section */
.technologies h3 {
  font-size: 22px;
  color: #0057b8;
  margin-bottom: 10px;
}

.languages,
.applications {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.iconcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white; /* Darker background for icons */
  border: 1px solid #bbb; /* Border for icon containers */
  border-radius: 8px; /* Rounded icon containers */
  padding: 10px;
  transition: background-color 0.3s ease;
}

.iconcontainer:hover {
    background-color: #d6d6d6; /* Slightly darker background on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Shadow on hover */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  }

.iconcontainer img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.iconcontainer p {
  font-size: 16px;
  color: #333;
  margin-top: 5px;
}

/* Education section */
.education h3 {
  font-size: 20px;
  color: #0057b8;
  margin-bottom: 5px;
}

.education h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #666;
}

.bachelors,
.high-school {
  margin-bottom: 20px;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
  .overview {
    padding: 15px;
  }

  .overview .title h2 {
    font-size: 24px;
  }

  .summary p {
    font-size: 16px;
  }

  .technologies h3,
  .education h3 {
    font-size: 20px;
  }

  .languages,
  .applications {
    flex-direction: column;
    align-items: flex-start;
  }

  .iconcontainer {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .iconcontainer img {
    margin-right: 10px;
  }

  .iconcontainer p {
    font-size: 14px;
  }

  .education h4 {
    font-size: 16px;
  }
}
